# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/kotlin/
/.idea/
# Ignore screenshots folder
/screenshots/

# Ignore local README (optional, usually you want to keep README tracked)
README.md

# Build outputs
/build/
/captures/
/.externalNativeBuild/
/.cxx/